          <ul>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ path('app_home')}}">Accueil</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{{ path('app_terrains')}}">A terrains</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('app_appartements')}} "> appartements </a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('app_maisons')}} "> Maisons </a></li>       
            <li class="nav-item"><a class="nav-link" href="{{ path('app_hotels')}} "> Hôtels </a></li>       
            <li class="nav-item"><a class="nav-link" href="# "> login / Logout </a></li>

            </li>
          </ul>
