          <ul>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ path('app_home')}}">Accueil</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{{ path('app_apropos')}}">A propos</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('app_ventes')}} "> ventes </a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('app_locations')}} "> locations </a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('app_abonnements')}} "> Abonnement </a></li>       
            <li class="nav-item"><a class="nav-link" href="{{ path('app_test')}} "> test </a></li>
            <li class="nav-item"><a class="nav-link" href="# "> login / Logout </a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('app_nousContacter')}}">Nous Contacter</a></li>

            </li>
          </ul>
